cloudfunctions/activity/node_modules/
cloudfunctions/activityType/node_modules/
cloudfunctions/class/node_modules/
cloudfunctions/grade/node_modules/
cloudfunctions/group/node_modules/
cloudfunctions/user/node_modules/
cloudfunctions/clearFiles/node_modules/
.idea/
